@media only screen and (max-width: 1400px) {
    body {
        font-size: 0.7em;
    }

    .divisions-blocks {
        margin-top: 7em;
    }
    .divisions-blocks p {
        margin: 1.5em auto 0 auto;
    }
}

@media only screen and (max-width: 1080px) {
    nav {
        display: none;
    }

    body * {
        flex-direction: column;
        align-items: center;
    }

    body {
        margin: 0 0;
    }

    .main-content {
        width: 50%;
    }

    .main-content div {
        min-width: 35em;
    }

    .thumbnail {
        margin-top: 5em;
        width: 60%;
    }

    .divisions-blocks > div {
        width: 50%;
        margin-top: 5em;
    }

    .thumbnail{
        min-width: 35em;
        height: auto;
    }

    .circle1,
    .circle2,
    .circle3 {
        display: none;
    }

    .watch {
        margin-left: 5%;
    }

    .watch img {
        padding-right: 1%;
    }

}

@media only screen and (max-width: 850px) {
    .divisions-blocks div div {
        margin: 0 auto;
    }

}

@media only screen and (max-width: 680px) {

    main section:first-of-type {
        margin-bottom: 5em;
    }

    .main-content {
        display: flex;
    }

    .main-content > h1 {
        text-align: center;
    }
}